@import "./lib/bootstrap/css/bootstrap.css";

*{
    margin: 0;
    padding: 0;

}
/*============================================================================================================*/
/*----Body-----*/
body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*==================================================================================*/

/* -----navbar------*/
.navb{
    display: flex;
    background: rgb(10, 223, 159);
    justify-content: space-between;
    min-width: 100%;
    position: fixed;
    z-index: 1000;
}
.about_home i{
    font-size: 25px;
}

.nav-link{
font-size: 20px;
}

.txt{
 display: flex;
 justify-content: space-between;
 text-align: center

}
.about_home{
justify-content: center;
display: flex;
margin-top: 30px;
}
.login{
 display: flex;
 justify-content: center;
 font-size: 16px;
 margin-top: 20px;
}
.login i{
    font-size: 15px;
    margin-right: 10px;
}
.logn{
margin: auto;
padding:10px;
display: flex;
justify-content: space-between;
text-decoration: none;
color: rgb(51, 48, 48);
border: solid 1px rgb(97, 96, 96);
border-radius: 5px;
font-size: 14px;
}
.ou{
    margin: auto;
    padding: 10px;
}


  .logn:hover {
    background-color: #4CAF50;
    color: white;
  }
.dropdown {
    display: none;
  }
.dropdown1 {
    display: none;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    margin: 0 10px;
    box-shadow: 0px 8px 16px 0px hsla(0, 3%, 12%, 0.932);
    padding: 12px 16px;
    z-index: 1;
    right: 0;
    border-radius: 10px;
  }
  .dropdown1-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    margin: 0 10px;
    box-shadow: 0px 8px 16px 0px hsla(0, 3%, 12%, 0.932);
    padding: 12px 16px;
    z-index: 1;
    right: 0;
    border-radius: 10px;
  }

  .dropdown-content  a{
    font-size: 10px;
    margin: 10px;
    width: 200px;
  }
  .dropdown1-content  a{
    font-size: 10px;
    margin: 10px;
    width: 200px;
  }
  .dropdown-content .logn{
    border: none;
    font-size: 15px;
  }
  .dropdown1-content .logn{
    padding: auto;
    font-size: 15px;
    max-width: 150px;
    background: rgb(198, 241, 117);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown1:hover .dropdown1-content {
    display: block;
  }
  /*==========================================================================================*/
/*--------Home------*/
.home{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/icon/acc.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
    background-size: cover;
    padding-bottom: 20px;
}
.lg{
    display: flex;
    margin: auto;
    width: 200px;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes rotate {
    from{ transform: rotateY(0deg);}
    to{ transform: rotateY(360deg);}

}
h1{
   text-align: center;
   }
   .objectif{
    display: flex;
    justify-content: center;
    padding: 30px;
   }
   .object{
    background-color:inherit;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
    color: white;
   }
   h3{
    text-decoration: underline;
   }
   span{
    color:rgb(226, 12, 12);
   }
   .cab{
    margin-left: 10px;
    color: lightgreen;
   }
   /*=======================================================*/
   /*========bouton service=======*/
   .btnservice {
    position: relative;
    display: inline-block;
  }

  .btnservice-content {
    display: none;
    position: absolute;
    background-color:#ffffff;
    min-width: 160px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
  }

  .btnservice a:hover {
    background-color: #b9a8a8;
  }
  .btnservice:hover .btnservice-content{
    display: block;
  }
  .btnservice{
    margin: auto;
  }
  .btnservice-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #84A98C;
    margin: 10px;
    font-size: 15px;
  }

   /*-------body Service----*/
.cont{
  min-width: 100%;
  min-height: 100%;
  margin-top: 100px;
}
.servttr{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gdr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: auto;
}

.gdttr{
 margin-top: 20px;
 color: #c91f1f;
 align-items: center;
 padding: 10px;
 border-radius: 20px;
 background-color: rgb(228, 230, 228);
}
.ttr{
  text-align: center;
  margin: 20px;
  color: white;
}
.carrousel{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 20px 50px;
  position: relative;
  min-height: 90%;
}
.count{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid green;
  width: 90%;
  padding-bottom: 20px;
  display: none;

}
.bouton{
    position: fixed;
    padding: 10px;
    border: none;
    transition: all 0.3 easy;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}
#g{
  left: 0;
  top: 120px;
}
#d{
  right: 0;
  top: 120px;
}
#g:hover{
color:white;
background-color: rgba(0, 0, 0, 0.5);
}
#d:hover{
color: white;
background-color: rgba(0, 0, 0, 0.5);
}
     /*------externalisation de service----*/
       .extserv{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
       }
       .serv{
        display: flex;
        margin: 30px;
       }
       .ltserv{

        font-size: 20px;
        color:white;
        background: inherit;
        box-shadow: 5px 5px 5px white;
        padding: 10px 10px;
        width: 25%;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 10px;
       }
       .desc{
        display: flex;
        justify-content: center;
        flex-direction: column;
        color:white;
        background: inherit;
        padding: 20px 30px;
        width: 80%;
        font-size: 20px;
        border-radius: 10px;
       }
       .decfis{
        color:white;
        margin-left: 30px;
        font-size: 17px;
        margin-top: 20px;
       }
       .ltserve{
        color: white;
        font-size: 16px;
        padding: 20px;
        border: solid 1px white;
        box-shadow: 5px 5px 5px white;
        border-radius: 10px;
       }
       .avantage{
        display: flex;
        flex-direction: column;
        color:white;
        height: 100%;
        background: inherit;
        box-shadow: 5px 5px 5px white;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 10px;
        margin-bottom: 20px;
        margin: 0px 20px;
       }
       .avantage b{
        padding: 5px;
        text-decoration: underline;
       }
       .av1, .av2, .av3{
        margin: 0px 20px;
       }
       /*------Creation d'entreprise ou de societé--------*/
       .create{
        display: flex;
        flex-direction: column;
        margin: auto;
        color: white;
        font-size: 25px;

       }


/*=======================================================================*/
/*---User and add user----*/
.secregistre{
    width: 100%;
}

/**==============================================================/


/*---Registre---*/
.opt1, .opt2, .opt3{
   display: flex;
}
.opt{
    font-size: 14px;
    margin: 10px;
    border: solid 1px gray;
    padding: 5px;
    width: 200px;
    text-align: center;
}
/*===============================================================================*/

/*---------------------------------------Admin ------------------------------------------*/
          /*============Dashboard =========*/
          .card {
            margin-bottom: 20px;
        }
        .chart{
            display: flex;
        }
          /*element navigateur================*/

.adminpage{
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
.adminnav{
    min-height: 50px;
}
.btnadnav{
    display: block;
    position: fixed;
    font-size: 30px;
    border: none;
    color: #c91f1f;
    cursor: pointer;
    transition: transform 0.3s ease;
    background: inherit;
    margin-left: 20px;
    z-index: 1000;
}
.btnadnav:hover {
    transform: scale(1.5); /* Agrandissement au survol */
}
.admin{
   margin: 10px;
}
.btnadm{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.btnsurf{
    min-width: 70%;
    margin: 30px 10px;
    border: solid 1px black;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background: #52B69A;
    transition:transform 0.5 ease ;
}
.btnsurf:hover {
    transform: scale(1.2);
}
.btnsurf a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.adminlogout a{
    text-decoration: none;
    color:black;
}
.adminlogout{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: solid 1px black;
    min-width: 50%;
    padding: 10px;

}
              /*======tous les contente===========*/
.variete{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90%;
    height: 100%;
}
.nomadmin{
    padding: 5px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    min-width: 100px;
    text-align: center;
}


             /*==============liste utilisateur et etuduants============*/
             .thus{
                font-size: 12px;
                text-align: center;
            }
            .thus a{
                font-size: 12px;
                width: 90%;
            }
            .table-container {
                width: 100%;
                height: 300px; /* Ajuste la hauteur selon tes besoins */
                overflow-y: auto;
            }

            table {
                width: 100%;
                border-collapse: collapse;
            }

            thead th {
                position: sticky;
                top: 0;
                background: #fff; /* Couleur de fond pour l'en-tête */
                z-index: 1;
            }

            th, td {
                text-align: left;
                border: 1px solid #ddd;
            }

             /*======registre utilisateur=========*/

.date, .photouser{
    display: flex;
    justify-content: space-between;
}
                   /*=======================Affichage============================*/
.Affiche{
    display: flex;
}
.affichenom{
    width: 50%;
    margin-left: 10px;
}
.rows{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




/*=======================================A propos=================================================*/
.about{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('/icon/aboutbg.jpg');
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.abouttitre{
    padding: 10px;
    border-bottom: solid 3px rgb(255, 255, 255);
    color: aquamarine;
}
.aboutcab{
    color: white;
    margin: 5px 30px;
    font-size: 17px;
}
      /*-------------------footer--------------------------------*/
.aboutfoot{
    width: 100%;
    display: flex;
}
.div1, .div2{
    width: 50%;
    display: flex;
}
.menu, .partenaire, .contact, .aboutapp{
    width: 50%;
    margin-top: 10px;
}
.footttr{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.divttr{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: solid 2px rgb(64, 199, 116);
}
.menuctnt a{
    padding-top: 10px;
}
.menu, .partenaire, .contact{
    border-right: solid 4px rgb(190, 45, 40);
}
.logopartenaire{
    display: flex;
    justify-content: space-between;
    margin: 5px 20px;
}
.associationnakay, .cabinetnakay, .ase{
    text-align: center;
}
.souslog{
    font-size: 12px;
}
.ul, .aboutdev{
    margin-left: 20px;
}
.ul, .menuctnt{
    margin-bottom: 6px;
}
/*/////////////////////////////////////////////////////////////////////////------Responsive----////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 1200px) and (min-width:770px) {
    /*-------navbar-----*/
    .container .txt .dropdown1{
        display: inline-block;
        font-size: 30px;
        padding-top: 30px;
        padding-right: 30px;
    }
    .container .txt .login{
        display: none;
    }
    /*----service----*/
    .serv{
        display: flex;
        flex-direction: column;
        margin: 10px;
       }
       .ltserv{
        width: 80%;
        font-size: 14px;
        margin: auto;
       }
       .desc{
        width: 80%;
        font-size: 14px;
        margin: auto;
       }
       #g{
        top: 120px;
      }
     #d{
        top: 120px;
      }
       .bouton{
        position: fixed;
        padding: 10px;
        border: none;
        transition: all 0.3 easy;
        background-color: rgba(0, 0, 0, 0.2);
        color: white;
    }
    .av{
        display: flex;
        flex-direction: column;
    }
    /*--tableUser--*/
    .thus{
        font-size: 12px;
        text-align: center;
    }
    .thus a{
        font-size: 12px;
        width: 90%;
    }
    /*----registre----*/
    .opt1, .opt2, .opt3{
        display: flex;
        flex-direction: column;
     }

}
/*====================================================================================================*/
@media screen and (max-width: 660px) {

    .gdr{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
        margin: auto;
    }
}

@media screen and (max-width: 770px)  {
    /*---navbar-----*/
    .hafa{
        display: none;

    }
    .dropdown{
        display: inline-block;
        font-size: 30px;
        padding-top: 30px;
        padding-right: 30px;

    }
    /*---------body home */

    /*-----body service-----*/
    .ttr{
        font-size: 18px;
    }
    #g{
        top: 120px;
      }
    #d{
        top: 120px;
      }
    .bouton{
        position: fixed;
        padding: 10px;
        border: none;
        transition: all 0.3 easy;
        background-color: rgba(0, 0, 0, 0.2);
        color: white;
    }
    .carrousel{
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px black;
        margin: 10px 0px;
        position: relative;
        overflow: hidden;
    }
    .count{

      border: 1px solid green;
      width: 100%;

    }
    .extserv{

        display: flex;
        flex-direction: column;
        padding: 5px;

       }
       .ltserv{
        width: 80%;
        font-size: 14px;
        margin: auto;
       }
       .desc{
        width: 80%;
        font-size: 14px;
        margin: auto;
       }
       .serv{
        display: flex;
        flex-direction: column;
        margin: 10px;
       }
       .av{
        display: flex;
        flex-direction: column;
        font-size: 14px;
        margin: auto;
        width: 80%;
       }
       .desc p{
        margin:10px 0px;
       }
       .av1, .av2, .av3{
        margin: 0px 5px;
       }
       .avantage b{
        padding: 5px 2px;
        text-decoration: underline;
       }
       .create{
        display: flex;
        flex-direction: column;
        margin: auto;
        color: white;
        font-size: 16px;

       }
       /*--User table--*/
    .thus{
        font-size: 12px;
        text-align: center;
    }
    /*----registre----*/
    .opt1, .opt2, .opt3{
        display: flex;
        flex-direction: column;
     }
     /*=====footer about=====*/
     .aboutfoot{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .div1, .div2{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .menu, .partenaire, .contact, .aboutapp{
        width: 100%;
    }
    .menu, .partenaire, .contact{
        border-right: none;
        border-bottom: solid 5px rgb(190, 45, 40);
    }
    .ul, .menuctnt{
        margin-bottom: 10px;
    }
}




